.navbar {
	padding-left: 80px;
	padding-right: 80px;
	font-weight: bold;
}

.navbar-logo {
	position: relative;
	top: -5px;
}

.loginButton {
	background-color: inherit;
	color: inherit;
	border: 2px solid #B9B9B9;
	border-radius: 20px;
	padding: 0px 20px;
	font-weight: inherit;
	padding-bottom: 4px;
}